body {
    font-family: 'Segoe UI', sans-serif;
}

.isbselect {
    padding:3px;
    margin: 0;
    margin-right: 3px;
    border-radius:4px;
    background: linear-gradient(0deg, #FBFBFB, #E9E9E9 100%);    
    color:black;
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;
    border: 1px solid #ccc;
}

.isbinput {
    padding:3px;
    margin: 0;
    margin-right: 3px;
    border-radius:4px;
    color:black;
    border: 1px solid #ccc;
}

span {
    font-style: italic;
}

.isbLi {
    list-style: none;
}
isbBtn {
    border: 1px solid black;
    border-radius:4px;
}

.resultdiv {
    min-height: 75px;
    margin: 8px;
    padding:4px;
    border: 2px solid black;
}
